<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Oswald:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Avenir:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
<meta property="og:title" content="{{ site.title }} By {{site.author}}, {{ site.subtitle }}" />
<meta property="og:image" content="/images/metadatascience.gif" />
<link href="/stylesheets/data-table.css" media="screen, projection" rel="stylesheet" type="text/css" />
